/*  IMPORT FONTS - copied from google fonts         */

@import url('https://fonts.googleapis.com/css?family=Courgette:100,400,700|Crimson:100,400,700|Nunito:100,400,700');

/* The following css was copied from materializecss.com to create a sticky footer */

html {}

body {
    display: flex;

    flex-direction: column;
    font-family: "Nunito", sans-serif;
}

section {
    min-height: 100vh;
}

main {
    flex: 1 0 auto;

}

/* css used in base.html                                                            */

/* Navbar is fixed with height of 80px, so need to move containers etc down by 80px*/

.scrn-pos {
    position: relative;
    top: 80px;

}

/*  The padding for the main container */

.scrn-padding {
    padding: 0 50px;

}

/* Keep a wide margin to left of logo    */

.logo {
    margin-left: 50px;
    background: url("../images/logo_gic.jpg");
    min-height: 64px;
    min-width: 200px;
    border-style: double;
    border-radius: 50%;
    border-width: 5px;
    border-color: #dcefde;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fff;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

/*  Padding to position navbar items nicely in the navbar */

.navbar-padding {
    padding-left: 50px;
}

/* Override nav link padding */

.nav-link {
    padding: 15px!important;
}


/* Override color of nav links*/

.nav-link {
    color: #3b3b3b!important;
    font-size: 18px;

}



/* Set hover behaviour for nav links in Top and Bottom navigation menus */

.nav-links a:hover {
    background-color: #76c180;
    color: #fff!important;
    text-decoration: none;
}


/* Style the dropdown button link to match navbar colors. */

/* Move dropdown button over a little */

.dropdown {

    margin-left: 250px;
}

.dropdown a:hover {
    text-decoration: none;
    background-color: #76c180!important;
    border-color: #76c180!important;

}




/* Mute the colors of the dropdown items */

.dropdown-item {
    color: #8c8c8c!important;

}



.btn-secondary.disabled {
    color: #d9d9d9!important;
}

/* Style the dropdown button to match navbar colors. Border a light black */

.btn-secondary.enabled {
    background-color: #3b3b3b!important;
    border-color: #1a1a1a!important;
}



.icon-style {
    color: #76c180;

}

.icon-style:hover {
    color: #fff!important;
}

.icon-style-deselected {
    color: #3b3b3b;

}

/* css used on recipes home page                                             */

.feature-style {
    background-color: #edf7ef;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    font-family: "Courgette", sans-serif;

}


/* css for recipes   */

.recipe_header {
    margin-top: 5px;
}

.intro {
    font-family: "Courgette", sans-serif;
    padding: 20px;
}

.intro-title-style {
    font-family: "Courgette", sans-serif;
    text-align: center;
    padding-bottom: 4px;
    margin:0;


}


.intro-par-style {
    font-size: 20px;
}

.card {
    background-color: #fff;
    padding: 0;
    margin: 5px;

}

/* Bootstrap was removing the left border and not rounding all corners, so created this to fix it*/

.card-border {
     border: 1px solid rgba(0, 0, 0, 0.125)!important;
     border-radius: 0.25rem!important;
}




.card-padding {
    padding-bottom: 10px;
}


.card-img-size {

    width: 100%;
    height: 180px;
}

.card-link-style {
    text-align: center;
    text-decoration: none;
    color: #3b3b3b;

}

.card-link-style:hover {
    text-decoration: none;
    color: #76c180;
}


.card-title-padding {
    padding-left: 150px;
}





.more-icon-style {
    color: #3b3b3b;
}

.more-icon-style:hover {
    color: #76c180;

}

.more-icon-pl {
    padding-left: 190px;
}



.bg-img {
    background-image: url("../images/irish_kitchen.jpg");
    background-position: center;
}



/* css used in footer                                                          */

.footer-style {
    background-color: #3b3b3b;
    color: #fff;
    margin-bottom: 0px;
    padding: 30px 30px 10px 30px;
    text-align: center;
    position: relative;
    top: 80px;

}

.footer-pb {
    padding-bottom: 20px;
}

.footer-ul-style {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



footer a {
    color: #fff!important;
    padding: 10px 15px;
}

.footer-links a:hover {
    background-color: #76c180;
    text-decoration: none;
}

/* css used in recipes-details.html                                           */

.recipe-border {
    border: solid 2px #f2f2f2;
}



/* css used in javascript                                                     */

.sel-green {
    color: #76c180!important;
}
