/*  IMPORT FONTS - copied from google fonts         */

@import url('https://fonts.googleapis.com/css?family=Courgette:100,400,700|Crimson:100,400,700|Nunito:100,400,700');

/* The following css was copied from materializecss.com to create a sticky footer */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Keep a wide margin to left of logo so that side menu on smaller devices doesnt hide the logo   */
.logo {
    margin-left: 300px;
    background: url("../images/logo_gic.jpg");
    min-height: 64px;
    min-width: 200px;
    border-style: double;
    border-radius: 50%;
    border-width: 5px;
    border-color: #dcefde;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fff;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

@media(min-width:1024px) {

    .logo {
        margin-left: 150px;
        
    }

}




.navbar-style {
    background-color: #fafaff;
}

ul a {
    color: #3b3b3b!important;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
}

.font-style {
    color: #3b3b3b!important;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
}

.dropdown-content a {
    color: #8c8c8c!important;

}

.menu-icon-style {
    color: #3b3b3b;
}



/* Set hover behaviour for nav links in Top and Bottom navigation menus */

.nav-links a:hover {
    background-color: #76c180;
    color: #fff!important;
}

.icon-style {
    color: #76c180;
}

.icon-style:hover {
    color: #fff;
}

.footer-style {
    background-color: #8c8c8c;
}

/* Set color and padding for footer links*/

footer a {
    color: #fff!important;
    padding: 10px 15px;
}
