/*  IMPORT FONTS - copied from google fonts         */

@import url('https://fonts.googleapis.com/css?family=Courgette:100,400,700|Crimson:100,400,700|Nunito:100,400,700');

/* The following css was copied from materializecss.com to create a sticky footer */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Nunito", sans-serif;
}

main {
    flex: 1 0 auto;
}

.scrn-pos {
    position: relative;
    top: 60px;

}

.scrn-padding {
    padding: 0 50px;
   
}

/* Keep a wide margin to left of logo so that side menu on smaller devices doesnt hide the logo   */

.logo {
    margin-left: 100px;
    background: url("../images/logo_gic.jpg");
    min-height: 64px;
    min-width: 200px;
    border-style: double;
    border-radius: 50%;
    border-width: 5px;
    border-color: #dcefde;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fff;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}



.navbar-style {
    background-color: #fafaff;
}

.nvbr-padding {
    padding-left: 150px;
}

ul a {
    color: #3b3b3b!important;
    font-size: 18px;

}


.feature-style {
    background-color: #edf7ef;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: "Courgette", sans-serif;

}

.dropdown-menu a {
    color: #8c8c8c!important;

}


/* Set hover behaviour for nav links in Top and Bottom navigation menus */

.nav-links a:hover {
    background-color: #76c180;
    color: #fff!important;
    text-decoration: none;
}



.icon-style {
    color: #76c180;
}

.icon-style:hover {
    color: #fff;
}


/* css for recipes   */

.recipe_header {
    margin-top: 5px;
}

.intro-card {
    font-family: "Courgette", sans-serif;
    font-size: 18px;

}

.intro-title {
    color: #76c180;
}


.intro-par-style {
    padding-top: 20px;
    color: #76c180;
}

.card {
    background-color: #fff;
    padding: 0;
    margin: 5px;

}

.card-title-style {
    font-family: "Courgette", sans-serif;

}


.card-padding {
    padding-bottom: 10px;
}


.card-img-size {
    
    width:100%;
    height: 180px;
}

.card-link-style {
    text-align: center;
    text-decoration: none;
    color: #3b3b3b;

}

.card-link-style:hover {
    text-decoration: none;
    color: #76c180;
}


.card-link-padding {
    padding-left: 50px;
}


.gic-size {
    height: 80px;
}

.img-size {
    width: 100%;
    min-height: 180px;
}

.gic-image-size {
    padding-top: 20px;
    height: 100%
}

.bg-img {
    background-image: url("../images/irish_kitchen.jpg");
    background-position: center;
}

/* Footer Details */

.footer-style {
    background-color: #3b3b3b;
    color: #fff;
    margin-bottom: 0px;
    padding: 30px 30px 10px 30px;
    text-align: center;
    position: relative;
    top: 80px;

}

.footer-pb {
    padding-bottom: 20px;
}

.footer-ul-style {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



footer a {
    color: #fff!important;
    padding: 10px 15px;
}

.footer-links a:hover {
    background-color: #76c180;
    text-decoration: none;
}
