<!DOCTYPE html>
<html>

<head>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' )}}" type="text/css" />

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/gic.ico' )}}" />

    <title>Global Irish Café</title>
</head>

<body>

    <header>
        <!-- Navigation bar, using Bootstrap -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top nav-links">
            <a class="navbar-brand logo" href="{{ url_for('get_recipes_home') }}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

            <div class="collapse navbar-collapse navbar-padding" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ">
                    <li class="nav-item mr-2 "><a class="nav-link" href="{{ url_for('get_recipes_home') }}"><i id="home" class="fa fa-home icon-style" aria-hidden="true"></i></a></li>

                    <li class="nav-item">
                        <a id="allrecipes" class="nav-link" href="{{ url_for('get_recipes', sel_category='All', sel_origin=origin) }}">ALL RECIPES</a>
                    </li>

                    <li class="nav-item">
                        <a id="baking" class="nav-link" href="{{ url_for('get_recipes', sel_category='BAKING', sel_origin=origin) }}">BAKING</a>
                    </li>


                    <li class="nav-item">
                        <a id="starter" class="nav-link" href="{{ url_for('get_recipes', sel_category='STARTER', sel_origin=origin) }}">STARTER</a>
                    </li>

                    <li class="nav-item">
                        <a id="dinner" class="nav-link" href="{{ url_for('get_recipes', sel_category='DINNER', sel_origin=origin) }}">DINNER</a>
                    </li>

                    <li class="nav-item">
                        <a id="dessert" class="nav-link" href="{{ url_for('get_recipes', sel_category='DESSERT', sel_origin=origin) }}">DESSERT</a>
                    </li>

                    <!-- Dropdown menu for ORIGIN  -->

                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle disabled" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    All Countries
  </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{{ url_for('get_recipes', sel_category=category, sel_origin="All Countries") }}">All Countries</a> {% for country in countries%}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('get_recipes', sel_category=category, sel_origin=country.country_name) }}">{{country.country_name}}</a> {% endfor %}
                        </div>
                    </div>

                </ul>

            </div>
        </nav>

    </header>

    <section class="container-fluid scrn-padding">

        <main class="scrn-pos">
            {% block content %} {% endblock %}
        </main>

    </section>

    <!-- Footer, using bootstrap -->
    <footer class="footer-style scrn-pos footer-links">
        <div class="row">
            <div class="col-sm-4 footer-pb">
                <ul class="footer-ul-style">
                    <li class="mb-1"><a href="#">Home</a></li>
                    <li class="mb-1"><a href="#">Baking</a></li>
                    <li class="mb-1"><a href="#">Breakfast</a></li>
                </ul>
            </div>

            <div class="col-sm-4 footer-pb">
                <ul class="footer-ul-style">
                    <li class="mb-1"><a href="#">Starter</a></li>
                    <li class="mb-1"><a href="#">Lunch/Dinner</a></li>
                    <li class="mb-1"><a href="#">Dessert</a></li>
                </ul>
            </div>

            <div class="col-sm-4 footer-pb">
                <p class="mb-1">Origin Selected:</p>
                <p class="mb-1" id="origin"></p>

            </div>

    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js " integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin=" anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js"></script>


</body>

</html>
