<!DOCTYPE html>
<html>

<head>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' )}}" type="text/css" />
    <link rel="shortcut icon" href="static/images/gic.ico" />

    <title>Global Irish Café</title>
</head>

<body>

    <header>

        <!-- The code for the navbar was initally copied from materializecs.com -->

        <!-- Dropdown Structure on larger devices-->
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="#!">IRELAND</a></li>
            <li class="divider"></li>
            <li><a href="#!">BRITAIN</a></li>
            <li class="divider"></li>
            <li><a href="#!">AMERICA</a></li>
            <li class="divider"></li>
            <li><a href="#!">AUSTRALIA</a></li>
            <li class="divider"></li>
            <li><a href="#!">NEW ZEALAND</a></li>
        </ul>

        <!-- Dropdown Structure for mobiles. dropdown1 & dropdown2 are the same, but if I use only one,
             the dropdown will work on mobile devices, but not on larger screens -->

        <ul id="dropdown2" class="dropdown-content">
            <li><a href="#!">IRELAND</a></li>
            <li class="divider"></li>
            <li><a href="#!">BRITAIN</a></li>
            <li class="divider"></li>
            <li><a href="#!">AMERICA</a></li>
            <li class="divider"></li>
            <li><a href="#!">AUSTRALIA</a></li>
            <li class="divider"></li>
            <li><a href="#!">NEW ZEALAND</a></li>
        </ul>

        <nav>
            <div class="nav-wrapper navbar-style nav-links">

                <a href="#!" class="logo navbar-brand"></a>

                <!-- This is for the mobile side menu -->
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons menu-icon-style">menu</i></a>

                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#"><i class="material-icons icon-style">home</i></a></li>
                    <li><a href="#">BREAKFAST</a></li>
                    <li><a href="#">STARTER</a></li>
                    <li><a href="#">LUNCH/DINNER</a></li>
                    <li><a href="#">DESSERT</a></li>
                    <!-- Dropdown Trigger -->
                    <li><a class="dropdown-button dropdown-button-lg font-style" href="#!" data-activates="dropdown1">ORIGIN<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>

                <ul id="mobile-demo" class="side-nav">
                    <li><a class="font-style" href="#"><i class="material-icons icon-style">home</i></a></li>
                    <li><a class=" font-style" href="#">BREAKFAST</a></li>
                    <li><a class=" font-style" href="#">STARTER</a></li>
                    <li><a class=" font-style" href="#">LUNCH/DINNER</a></li>
                    <li><a class=" font-style" href="#">DESSERT</a></li>
                    <!-- Dropdown Trigger -->
                    <li><a class="dropdown-button font-style" href="#!" data-activates="dropdown2">ORIGIN<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>

            </div>
        </nav>


        <h1>RECIPES</h1>
    </header>

    <div class="container">


        {% block content %} {% endblock %}

    </div>

    <!-- The code for the footer was initially copied from materializecss.com -->
    <footer class="page-footer footer-style nav-links">
        <div class="container">
            <div class="row">
                <div class="col l3 s12 ">
                    <p class="white-text "><a href="#">Home</a></p>
                    <p class="white-text "><a href="#">Baking</a></p>
                    <p class="white-text "><a href="#">Breakfast</a></p>
                </div>
                <div class="col l3 s12">
                    <p class="white-text "><a href="#">Starter</a></p>
                    <p class="white-text "><a href="#">Lunch/Dinner</a></p>
                    <p class="white-text "><a href="#">Dessert</a></p>
                </div>
                <div class="col l3 s12">
                    <p class="white-text "><a href="#">Ireland</a></p>
                    <p class="white-text "><a href="#">Britain</a></p>
                    <p class="white-text "><a href="#">America</a></p>
                </div>
                <div class="col l3 s12">
                    <p class="white-text footer-link-style"><a href="#">Australia</a></p>
                    <p class="white-text footer-link-style"><a href="#">New Zealand</a></p>
                </div>

            </div>
        </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <p>© 2019 Kitty McDonagh</p>
            </div>
        </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $(".dropdown-button").dropdown();
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
        });

        
        
    </script>


    </script>

</body>

</html>
