{% extends 'base.html' %} {% block content %}


<!-- Banner for options  -->
<div class="row m-0 p-2 mt-3 mb-2 feature-style">
    <div class="col-4 ">
        <h2 id="category" class="m-0">My Recipes</h2>
    </div>

    <!-- Flash message to the user when recipe received / updated / deleted-->
     {% with messages = get_flashed_messages() %} {% if messages %} {% endif %}
    <div class="col-8">
        <ul class="flashes">
            {% for message in messages %}
            <li><strong>{{ message }}</strong></li>
            {% endfor %}
        </ul>
        {% endwith %}
    </div>
</div>




<!-- Enter Email Address -->
<div class=class="row m-0 p-2 mt-3 mb-4">
    <div class="offset-2 col-8 email-form-style">
        <div class="row no-gutters">
            <div class="col-12">
                <p class="usr-msg">Use the Form below to send us a recipe, or enter your Email Address to View, Edit, or Delete your recipes.</p>
            </div>
        </div>
        <div class="row no-gutters">
            <form action="{{ url_for('get_my_recipes') }}" class="email-form-style col-12" method="POST">

                <div class="row no-gutters">
                    <div class="offset-1 col-7 ">
                        <input id="my_email" name="my_email" type="email" class="form-control text-center" placeholder="Enter Your Email Address" required>
                    </div>

                    <div class="col-3 ml-5">
                        <button class="ml-3 btn send-btn" type="submit" name="action">Get My Recipes</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>



<!-- Recipe input form  -->

<div class="row form-center">
    <form action="{{ url_for('insert_recipe') }}" method="POST" class="col-12 form-style">

        <!-- Input Owners' Email Address and Image Name -->

        <div class="row">
            <div class="input-field col-4">
                <input id="owner" name="owner" type="email" class="form-control" placeholder="Your Email Address" required>
            </div>

            <div class="input-field col-4">
                <input maxlength="50" id="title" name="title" type="text" class="form-control" placeholder="Recipe Title" required></textarea>
            </div>

            <div class="input-field col-4">
                <!-- Use textarea, rather than <input type="text> for HTML5 -->
                <input name="image-name" id="image-name" class="form-control" placeholder="Image Name (name.jpg / name.png) "></textarea>
            </div>

        </div>

        <!-- Choose Country, Category, Preparation Time and Serves -->
        <div class="row">
            <div class="input-field col-4">
                <select id="sel_origin" name="origin" class="form-control" required>
                    <option  value="" disabled selected>Choose Country</option>
                  
                    {% for country in countries %}
                    
                    <!-- The value in 'value' field is what will be submitted to the form -->
                      <option value="{{ country.country_name }}">{{ country.country_name }}</option>
                    
                    {% endfor %}
            
                </select>
            </div>

            <div class="input-field col-4">

                <select id="category" name="category" class="form-control" required>
                    <option value="" disabled selected>Choose Category</option>
                    
                    {% for cat in categories %}
                    
                    <!-- The value in 'value' field is what will be submitted to the form -->
                      <option value="{{ cat.category_name }}">{{ cat.category_name }}</option>
                    
                    {% endfor %}
                 
                </select>
            </div>

            <!-- Input Preparation time and how many it serves -->
            <div class="input-field col-2">
                <!-- Use textarea, rather than <input type="text> for HTML5 -->
                <input name="prep_time" id="prep_time" class="form-control" placeholder="Prep Time [hh:mm]"></textarea>
            </div>

            <div class="input-field col-2">
                <!-- Use textarea, rather than <input type=text> for HTML5 -->
                <input type="number" min="1" max="999" name="serves" id="serves" class="form-control" placeholder="Serves? (1 - 999)"></textarea>
            </div>

        </div>


        <!-- Input Recipe title and introductory comments -->

        <div class="row">

            <div class="input-field col-12">
                <!-- Use textarea, rather than <input type="text> for HTML5 -->
                <textarea rows="2" name="intro" id="intro" class="form-control" placeholder="Introduction" required></textarea>
            </div>
        </div>



        <!-- Input Ingredients and Method -->


        <div class="row">
            <div class="input-field col-6">
                <!-- Use textarea, rather than <input type= text> for HTML5 -->
                <textarea rows="20" name="ingredients" id="ingredients" class="form-control" placeholder="Ingredients" required></textarea>
            </div>

            <div class="input-field col-6">
                <!-- Use textarea, rather than <input type="text> for HTML5 -->
                <textarea rows="20" name="method" id="method" class="form-control" placeholder="Method" required></textarea>
            </div>
        </div>

        <!-- Submit the Recipe -->

        <div class="row mt-3">
            <button class="ml-3 btn send-btn" type="submit" name="action">Send Recipe</button>
        </div>

    </form>

</div>

<div>
    <!-- Hold rec_pages here but dont display it. It is needed by nav.js to determine 
             whether there is more than one page -->
    <span id="pag_ind" class="d-none">[]</span>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- <script href="{{ url_for('static', filename='js/nav.js' ) }}"></script> - not working -->

<script src="/static/js/nav.js "></script>

{% endblock %}
