{% extends 'base.html' %} {% block content %}


<!-- Banner for options  -->
<div class="row m-0 p-2 mt-3 mb-2 feature-style">
    <div class="col-4 ">
        <h2 id="category" class="m-0">My Recipes</h2>
    </div>
    
    {% if rec_function_flag == "edit" %}
    <div class="col-4">
        <h2>Edit Recipe</h2>
    </div>
    {% endif %}

    <!-- This code is taken from the Thorin & Compny mini project -->
    {% with messages = get_flashed_messages() %} {% if messages %} {% endif %}
    <!-- Flash message to the user when recipe received / updated / deleted-->
    <div class="col-4">
        <ul class="flashes">
            {% for message in messages %}
            <li><strong>{{ message }}</strong></li>
            {% endfor %}
        </ul>
        {% endwith %}
    </div>
</div>

<!-- Request email address only if in 'insert mode' (i.e. not in 'edit' mode -->

{%if rec_function_flag == "insert"%}
<!-- Enter Email Address -->
<div class=class="row m-0 p-2 mt-3 mb-4">
    <div class="offset-2 col-8 email-form-style">
        <div class="row no-gutters">
            <div class="col-12">
                <p class="usr-msg">Use the Form below to send us a recipe, or enter your Email Address to View, Edit, or Delete your recipes.</p>
            </div>
        </div>
        <div class="row no-gutters">
            <form action="{{ url_for('get_my_recipes') }}" class="email-form-style col-12" method="POST">

                <div class="row no-gutters">
                    <div class="offset-1 col-7 ">
                        <input id="my_email" name="my_email" type="email" class="form-control text-center" placeholder="Enter Your Email Address" required>
                    </div>

                    <div class="col-3 ml-5">
                        <button class="ml-3 btn send-btn" type="submit" name="action">Get My Recipes</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}



<!-- Recipe input / edit form  -->


<div class="row form-center">
    
    {% if rec_function_flag == "insert" %}
    <!-- If inserting a new recipe, we have no recipe id -->
    
    <form action="{{ url_for('insert_recipe', function_flag=rec_function_flag, sel_id="") }}" method="POST" class="col-12 form-style">
        
    {% else %}
    <!-- If updating an exisiting recipe, we need to pass the recipe id -->
    <form action="{{ url_for('update_recipe', sel_id=recipe._id) }}" method="POST" class="col-12 form-style">
    
    {% endif %}
        <!-- Input Owners' Email Address and Image Name -->

        <div class="row">
            <div class="input-field col-4">
                
            {% if rec_function_flag == "edit" %}
            <!-- If in edit mode, display the details of the recipe to be edited -->
                
                <input id="owner" name="owner" type="email" class="form-control" value="{{ recipe.owner }}" required>
                
            {% else %}
            
            <!-- In insert mode, display blank form -->
                <input id="owner" name="owner" type="email" class="form-control" placeholder="Your Email Address" required>
               
            {% endif %}
                
            </div>

            <div class="input-field col-4">
                <span class="d-none">{{ rec_function_flag }}</span>
                
                {% if rec_function_flag == "edit" %}
                <!-- If in edit mode, display the details of the recipe to be edited -->
                
                <input id="title" name="title" type="text" class="form-control" value="{{ recipe.title }}" required>
                
                {% else %}
                
                <!-- In insert mode, display blank form -->
                <input maxlength="50" id="title" name="title" type="text" class="form-control" placeholder="Recipe Title" required>
                
                {% endif %}
            </div>

            <div class="input-field col-4">
                
                {% if rec_function_flag == "edit" %}
                <!-- If in edit mode, display the details of the recipe to be edited -->
                
                <input name="image-name" id="image-name" class="form-control" value="{{ recipe.image }}">
                
                {% else %}
                
                <!-- In insert mode, display blank form -->
                <input name="image-name" id="image-name" class="form-control" placeholder="Image Name (name.jpg / name.png) ">
                
                {% endif %}
            </div>

        </div>

        <!-- Choose Country, Category, Preparation Time and Serves -->
        <div class="row">
            <div class="input-field col-4">
                <select id="sel_origin" name="origin" class="form-control" required>
                    <option  value="" disabled selected>Choose Country</option>
                  
                    {% for country in countries %}
                    
                    {% if rec_function_flag == "edit" %}
                    
                    <!-- The country on the Recipe will be selected -->
                       {% if country.country_name.lower() == recipe.origin.lower() %} 
                           <option value="{{ country.country_name }}" selected>{{ country.country_name }}</option>
                       {% else %}
                           <option value="{{ country.country_name }}">{{ country.country_name }}</option>
                       {% endif %}
                    
                    {% else %}
                    
                    <!-- The value in 'value' field is what will be submitted to the form -->
                      <option value="{{ country.country_name }}">{{ country.country_name }}</option>
                    {% endif %}
                    
                    {% endfor %}
            
                </select>
            </div>

            <div class="input-field col-4">

                <select id="category" name="category" class="form-control" required>
                    <option value="" disabled selected>Choose Category</option>
                    
                    {% for cat in categories %}
                    
                    {% if rec_function_flag == "edit" %}
                    <!-- The category on the Recipe will be selected -->
                        {% if cat.category_name.lower() == recipe.category.lower() %} 
                             <option value="{{ cat.category_name }}" selected>{{ cat.category_name }}</option>
                        {% else %}
                             <option value="{{ cat.category_name }}">{{ cat.category_name }}</option>
                        {% endif %}
                        
                    {% else %}
                    
                    <!-- The value in 'value' field is what will be submitted to the form -->
                      <option value="{{ cat.category_name }}">{{ cat.category_name }}</option>
                    
                    {% endif %}
                    
                    {% endfor %}
                 
                </select>
            </div>

            <!-- Input Preparation time and how many it serves -->
            <div class="input-field col-2">
                
                 {% if rec_function_flag == "edit" %}
                <!-- If in edit mode, display the details of the recipe to be edited -->
                <input name="prep_time" id="prep_time" class="form-control" value="{{ recipe.prep_time }}">
                
                {% else %}
                
                <!-- In insert mode, display blank form -->
                <input name="prep_time" id="prep_time" class="form-control" placeholder="Prep Time [hh:mm]">
                
                {% endif %}
            </div>

            <div class="input-field col-2">
                
                {% if rec_function_flag == "edit" %}
                <!-- If in edit mode, display the details of the recipe to be edited -->
                <input type="number" min="1" max="999" name="serves" id="serves" class="form-control" value="{{ recipe.serves}}">
                
                <!-- Hiding these 2 fields here. They wont be edited by the user, but I want to make sure they are output to the record on update -->
                <input type="hidden" name="key_words" id="key_words" class="form-control" value="{{ recipe.key_words }}">
                <input type="hidden" name="home_feature" id="home_feature" class="form-control" value="{{ recipe.home_feature }}">
                
                {% else %}
                <!-- In insert mode, display blank form -->
                <input type="number" min="1" max="999" name="serves" id="serves" class="form-control" placeholder="Serves? (1 - 999)">
                
                {% endif %}
            </div>

        </div>


        <!-- Input Recipe title and introductory comments -->

        <div class="row">

            <div class="input-field col-12">
                {% if rec_function_flag == "edit" %}
                <!-- If in edit mode, display the details of the recipe to be edited -->
                <textarea rows="2" name="intro" id="intro" class="form-control" required>{{ recipe.intro }}</textarea>
                
                {% else %}
                <!-- In insert mode, display blank form -->
                <textarea rows="2" name="intro" id="intro" class="form-control" placeholder="Introduction" required></textarea>
                {% endif %}
            </div>
        </div>

        <!-- Input Ingredients and Method -->
        
        <div class="row">
            <div class="input-field col-6">
                
            {% if rec_function_flag == "edit" %}
            <!-- If in edit mode, display the details of the recipe to be edited -->
            
            
            <textarea rows="20" name="ingredients" id="ingredients" class="form-control" required>{% for ingredient in recipe.ingredients%}{{ ingredient }}{% endfor %}</textarea>
            
                
            {% else %}
                
                <!-- In insert mode, display blank form -->
                <textarea rows="20" name="ingredients" id="ingredients" class="form-control" placeholder="Ingredients" required></textarea>
            {% endif%}
            </div>

            <div class="input-field col-6">
                {% if rec_function_flag == "edit" %}
                <!-- If in edit mode, display the details of the recipe to be edited -->
                <textarea rows="20" name="method" id="method" class="form-control" required>{% for step in recipe.method %}{{ step }}{%endfor %}</textarea>
                
                {% else %}
                <!-- In insert mode, display blank form -->
                <textarea rows="20" name="method" id="method" class="form-control" placeholder="Method" required></textarea>
                {% endif %}
            </div>
        </div>


        {% if rec_function_flag == "edit" %}
        <!-- If in edit mode, button will say 'Update Recipe -->
                
        <div class="row mt-3">
            <button class="ml-3 btn send-btn" type="submit" name="action">Update Recipe</button>
        </div>
        
        {% else %}
        
        <!-- Submit New Recipe -->

        <div class="row mt-3">
            <button class="ml-3 btn send-btn" type="submit" name="action">Send Recipe</button>
        </div>
        {% endif %}

    </form>
     
</div>

<div>
    <!-- Hold rec_pages here but dont display it. It is needed by nav.js to determine 
             whether there is more than one page -->
    <span id="pag_ind" class="d-none">[]</span>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- <script href="{{ url_for('static', filename='js/nav.js' ) }}"></script> - not working -->

<script src="/static/js/nav.js "></script>

{% endblock %}
