{% extends 'base.html' %} {% block content %}


<!-- Cards start here -->



{% for recipe in recipes %} {% if loop.index % 3 != 0 %} {% if loop.index % 3 == 1 %}

<div class="row">
    <div class="col-12 col-lg-4">
        <div class="card-group">
            <div class="card">
                <img src="static/images/irish_boxty.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.title }}</h5>
                    <p class="card-text">{{ recipe.intro }}</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>

    {% else %}

    <div class="col-12 col-lg-4">
        <div class="card">
            <img src="static/images/irish_boxty.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ recipe.title }}</h5>
                <p class="card-text">{{ recipe.intro }}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>

    {% endif %} {% else %}

    <div class="col-12 col-lg-4">
        <div class="card">
            <img src="static/images/irish_boxty.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ recipe.title }}</h5>
                <p class="card-text">{{ recipe.intro }}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>



{% endif %} {% endfor %} {% endblock %}
