{% extends 'base.html' %} {% block content %}

<!-- The Introduction, giving user instructions -->

<div class="row m-0">
    <div class="col-12 text-center intro">
        <h1 class="intro-title">Céad Míle Fáilte to The Global Irish Café!</h1>
    </div>
</div>

<div class="row m-0">
    <div class="col-12 ">
        <p class="intro-par-style">You can use the navigation menu to select recipes by category and country, search for recipes by keyword, or select from the recipes and quick links featured below. Enjoy!</p>
    </div>
</div>



<!-- "Featured" Banner -->
<div class="row m-0 p-2">
    <div class="col-9 feature-style">
        <h2 class="m-0"><span>Featured Recipes</span>

            <!-- If no recipes were found for this keyword, display a user message -->

            {% if rec_count == 0 %}
            <span>- Not Found</span> {% endif %}

        </h2>
    </div>

    <!-- Search Box Dropdown-->
    <!-- The keyword search searches by keyword, all countries, and all categories. -->

    <div class="col-3">
        <div class="search-box">
            <a class="btn btn-secondary dropdown-toggle search-btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Search By Keyword
  </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                {% for word in search_words %}
                <a class="dropdown-item" href="{{ url_for('search_recipes', page_nr='1', sel_keyword=word.key_words.lower()) }}">{{ word.key_words }}</a> {% endfor %}
            </div>
        </div>
    </div>

</div>


{% for recipe in recipes %}

<!-- Every odd number recipe gets output as the first recipe in the row -->

{% if loop.index % 2 != 0 %}

<!-- Odd number recipes go into the start of the row -->


<div class="row no-gutters card-group card-padding">

    <!-- First Card in row -->

    <div class="col-6 card card-border">

        <!-- Card Header -->

        <div class="row no-gutters card-header font-italic">
            <div class="col-4 ">
                <!-- Use .title() (found on https://stackoverflow.com/questions/1549641/how-to-capitalize-the-first-letter-of-each-word-in-a-string-python) to capitalize the first letter of each word, where the country name is more than one word - e.g. New Zealand -->
                <span><strong>From: {{ recipe.origin.title() }}</strong></span>
            </div>
            <div class="col-4 text-center">
                <span><strong>{{ recipe.category.capitalize() }} Recipe</strong></span>
            </div>
            <div class="col-4">
                <a href="{{ url_for('get_recipe_details', sel_id=recipe._id, sel_category=recipe.category.capitalize(), sel_origin=recipe.origin.title(), sel_title=recipe.title.title()) }}" class="more-icon-pl"><i class="fas fa-ellipsis-v more-icon-style"></i></a>

            </div>
        </div>


        <div class="row no-gutters p-1 card-body">
            <div class="col-6">
                <!-- Show recipe image. Using inline style as style.css didnt seem to recognize 'recipe.image' -->
                <div class="container m-0 p-0 recipe-border" style="background-image:url({{ url_for('static', filename='images/'+recipe.image)}}); width: 100%; height: 200px; background-size: cover; background-position: center">
                </div>
            </div>

            <div class="col-6 p-3 ">
                <h5 class="rec-intro-title ">{{recipe.title.title()}}</h5>
                <p class="card-text pl-2 pr-2 ">{{recipe.intro}}</p>
            </div>
        </div>


        <!-- Card footer -->

        <div class="card-footer ">
            <a href="{{ url_for( 'get_recipes_list', sel_category=recipe.category, sel_origin=recipe.origin, page_nr='1') }} " class="card-link-style "><strong><em>See all {{ recipe.category.capitalize() }} recipes from {{ recipe.origin.title() }}</em></strong></a>
        </div>
    </div>

    {% else %}

    <!-- Even number recipes go into the second half of the row -->

    <!-- Second Card in row -->

    <div class="col-6 card card-border ">

        <!-- Card Header -->

        <div class="row no-gutters card-header font-italic ">
            <div class="col-4 ">
                <span><strong>From: {{ recipe.origin.title() }}</strong></span>
            </div>
            <div class="col-4 text-center">
                <span><strong>{{ recipe.category.capitalize()}} Recipe</strong></span>
            </div>

            <div class="col-4 ">
                <a href="{{ url_for( 'get_recipe_details', sel_id=recipe._id, sel_category=recipe.category.capitalize(), sel_origin=recipe.origin.title(), sel_title=recipe.title.title()) }} " class="more-icon-pl "><i class="fas fa-ellipsis-v more-icon-style "></i></a>
            </div>
        </div>

        <div class="row no-gutters p-1 card-body ">
            <div class="col-6 ">
                <!-- Show recipe image. Using inline style as style.css didnt seem to recognize 'recipe.image' -->
                <div class="container m-0 p-0 recipe-border " style="background-image:url({{ url_for( 'static', filename='images/' +recipe.image)}}); width: 100%; height: 200px; alt=recipe.alt_txt; background-size: cover; background-position: center ">
                </div>
            </div>

            <div class="col-6 p-3 ">
                <h5 class="rec-intro-title ">{{recipe.title.title()}}</h5>
                <p class="card-text pl-2 pr-2 ">{{recipe.intro}}</p>
            </div>
        </div>

        <!-- Card Footer -->

        <div class="card-footer ">
            <a href="{{ url_for( 'get_recipes_list', sel_category=recipe.category, sel_origin=recipe.origin, page_nr='1') }} " class="card-link-style "><strong><em>See all {{ recipe.category.capitalize() }} recipes from {{ recipe.origin.title() }}</em></strong></a>
        </div>
    </div>

</div>


{% endif %} {% endfor %} 


{% endblock %}
