{% extends 'base.html' %} {% block content %}

<!-- Banner that tells user what selection they have made -->

<div class="row m-0 p-2 mt-3 mb-2">
    <div class="col-12 feature-style">
        <h2 class="m-0"><span id="category">{{category}}</span> Recipes from <span id="origin">{{origin}}</span></h2>
    </div>
</div>



<!-- Cards start here -->

{% for recipe in recipes %}

<!-- Every odd number recipe gets output as the first recipe in the row -->

{% if loop.index % 2 != 0 %}

<!-- Odd number recipes go into the start of the row -->


<div class="row no-gutters card-group card-padding">

    <!-- First Card in row -->

    <div class="col-6 card card-border">

        <!-- Card Header -->

        <div class="row no-gutters card-header font-italic">
            <div class="col-4">
                <span><strong>{{ recipe.category}} RECIPE</strong></span>
            </div>
            <div class="col-4 text-center">
                <span><strong>From: {{ recipe.origin }}</strong></span>
            </div>
            <div class="col-4">
                <a href="{{ url_for('get_recipe_details', sel_id=recipe._id) }}" class="more-icon-pl"><i class="fas fa-ellipsis-v more-icon-style"></i></a>

            </div>
        </div>


        <div class="row no-gutters p-1 card-body">
            <div class="col-6">
                <!-- Show recipe image. Using inline style as style.css didnt seem to recognize 'recipe.image' -->
                <div class="container m-0 p-0 recipe-border" style="background-image:url({{ url_for('static', filename='images/'+recipe.image)}}); width: 100%; height: 200px; background-size: cover; background-position: center">
                </div>
            </div>

            <div class="col-6 p-3">
                <h5 class="intro-title-style">{{recipe.title}}</h5>
                <p class="card-text pl-2 pr-2">{{recipe.intro}}</p>
            </div>
        </div>


        <!-- Card footer -->

        <div class="card-footer">
            <a href="{{ url_for('get_recipes_category_origin', sel_category=recipe.category, sel_origin=recipe.origin) }}" class="card-link-style"><strong><em>See all {{ recipe.category }} recipes from {{ recipe.origin }}</em></strong></a>
        </div>
    </div>

    {% else %}

    <!-- Even number recipes go into the second half of the row -->

    <!-- Second Card in row -->

    <div class="col-6 card card-border">

        <!-- Card Header -->

        <div class="row no-gutters card-header font-italic">

            <div class="col-4">
                <span><strong>{{ recipe.category}} RECIPE</strong></span>
            </div>
            <div class="col-4 text-center">
                <span><strong>From: {{ recipe.origin }}</strong></span>
            </div>
            <div class="col-4">
                <a href="{{ url_for('get_recipe_details', sel_id=recipe._id) }}" class="more-icon-pl"><i class="fas fa-ellipsis-v more-icon-style"></i></a>
            </div>
        </div>

        <div class="row no-gutters p-1 card-body">
            <div class="col-6">
                <!-- Show recipe image. Using inline style as style.css didnt seem to recognize 'recipe.image' -->
                <div class="container m-0 p-0 recipe-border" style="background-image:url({{ url_for('static', filename='images/'+recipe.image)}}); width: 100%; height: 200px; background-size: cover; background-position: center">
                </div>
            </div>

            <div class="col-6 p-3">
                <h5 class="intro-title-style">{{recipe.title}}</h5>
                <p class="card-text pl-2 pr-2">{{recipe.intro}}</p>
            </div>
        </div>

        <!-- Card Footer -->

        <div class="card-footer">
            <a href="#" class="card-link-style"><strong><em>See all {{ recipe.category }} recipes from {{ recipe.origin }}</em></strong></a>
        </div>
    </div>

</div>


{% endif %} {% endfor %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<script type="text/javascript">
    $(document).ready(function() {

        // Enable selection of ORIGIN

        // Change home icon from green to black 
        $("#home").addClass("icon-style-deselected");

        // Enable Countries dropdown
        $(".btn").removeClass("disabled");
        $(".btn").addClass("enabled");


        // Change color of selected category to green

        var category = document.getElementById('category').innerHTML;

        if (category === "All") {

            $("#allrecipes").addClass("sel-green");
        }

        if (category === "Baking") {

            $("#baking").addClass("sel-green");
        }

        if (category === "Starter") {

            $("#starter").addClass("sel-green");
        }

        if (category === "Dinner") {

            $("#dinner").addClass("sel-green");
        }

        if (category === "Dessert") {

            $("#dessert").addClass("sel-green");
        }
        
        $(".btn-secondary").addClass("sel-green");
        
        var origin = document.getElementById('origin').innerHTML;
        $(".btn-secondary").text(origin);
    });
</script>



{% endblock %}
