{% extends 'base.html' %} {% block content %}


<!-- Cards start here -->
<div class="row no-gutters p-0">
    <div class="col feature-style scrn-padding">
        <h1>{{category}} Recipes from {{origin}}</h1>
    </div>
</div>



{% for recipe in recipes %}

<!-- If this is the first recipe, show the Introduction card first, then recipe cards 1 & 2 -->

{% if loop.index % 3 == 1 %}

<!-- First Recipe in the row -->
<div class="row m-0 card-group card-padding">
    <div class="col-12 col-lg-4 card ">

        <div class="card-header font-italic">
            <a class="card-link-style" href="#"><span>{{ recipe.origin }} - {{ recipe.category.capitalize() }}.</span><span class="card-link-padding">See this recipe</span></a>
        </div>


        <!-- Show recipe image. Using inline style as style.css didnt seem to recognize 'recipe.image' -->
        <div class="container m-0 p-0" style="background-image:url({{ url_for('static', filename='images/'+recipe.image)}}); width: 100%; height: 180px; background-size: cover; background-position: center">
        </div>

        <div class="card-body">
            <h5 class="card-title card-title-style">{{loop.index}} - {{loop.index % 3 }}: {{recipe.title}}</h5>
            <p class="card-text">{{recipe.intro}}</p>
        </div>
        <div class="card-footer">
            <small class="text-muted"><a href="#" class="card-link-style">See all recipes for {{recipe.origin}}</a></small>
        </div>
    </div>

    {% else %} {% if loop.index % 3 == 2 %}

    <!-- 2nd Recipe in the row -->

    <div class="col-12 col-lg-4 card">

        <div class="card-header font-italic">
            <a class="card-link-style" href="#"><span>{{ recipe.origin }} - {{ recipe.category.capitalize() }}.</span><span class="card-link-padding">See this recipe</span></a>
        </div>

        <!-- Show recipe image. Using inline style as style.css didnt seem to recognize 'recipe.image' -->
        <div class="container m-0 p-0" style="background-image:url({{ url_for('static', filename='images/'+recipe.image)}}); width: 100%; height: 180px; background-size: cover; background-position: center">
        </div>

        <div class="card-body">
            <h5 class="card-title card-title-style">{{loop.index}} - {{loop.index % 3 }}: {{recipe.title}}</h5>
            <p class="card-text">{{recipe.intro}}</p>
        </div>
        <div class="card-footer">
            <small class="text-muted"><a href="#" class="card-link-style">See all recipes for {{recipe.origin}}</a></small>
        </div>
    </div>

    {% else %}

    <!-- 3rd Recipe in the row -->

    <div class="col-12 col-lg-4 card">

        <div class="card-header font-italic">
            <a class="card-link-style" href="#"><span>{{ recipe.origin }} - {{ recipe.category.capitalize() }}.</span><span class="card-link-padding">See this recipe</span></a>
        </div>

        <!-- Show recipe image. Using inline style as style.css didnt seem to recognize 'recipe.image' -->
        <div class="container m-0 p-0" style="background-image:url({{ url_for('static', filename='images/'+recipe.image)}}); width: 100%; height: 180px; background-size: cover; background-position: center">
        </div>

        <div class="card-body">
            <h5 class="card-title card-title-style">{{loop.index}} - {{loop.index % 3 }}: {{recipe.title}}</h5>
            <p class="card-text">{{recipe.intro}}</p>
        </div>
        <div class="card-footer">
            <small class="text-muted"><a href="#" class="card-link-style">See all recipes for {{recipe.origin}}</a></small>
        </div>
    </div>
</div>


{% endif %} {% endif %} {% endfor %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>

    // Enable selection of ORIGIN

    enableOrigin();


    function enableOrigin() {
       
        $(".btn").removeClass("disabled");
        $(".btn").addClass("enabled");


    }

</script>

{% endblock %}
