{% extends 'base.html' %} {% block content %}

<!-- Banner that tells user what selection they have made -->

<div class="row m-0 p-2 mt-3 mb-2">

    {% if rec_search_flag == "E" %}
        <!-- If listing 'My Recipes', the search box wont be displayed -->
        <div class="col-12 feature-style">
    {% else %}
        <div class="col-9 feature-style">
    {% endif %} 
        
    {% if rec_search_flag == 'K' %}
        <!-- If this template is called through keyword search, show the keyword, e.g. bread, cake, etc -->

        <h2 class="m-0">
            <span>{{ rec_keyword }} Recipes</span>
            <!-- Include Category and Origin, but don't display them. They need to be picked up by nav.js -->
            <!-- Category and Origin need to be in their own span to be picked up by nav.js -->
            <!-- Category is not applicable when in keyword search - don't highlight category in navbar -->
            <span id="category" class="d-none">na</span>
            <span id="origin" class="d-none">{{origin}}</span> 
            
            <!-- If no recipes were found for this keyword, display a user message -->
            {% if rec_count == 0 %}
            <span>- None Found</span> 
            {% endif %}
            
    {% else %} 
            
    {% if rec_search_flag == 'E' %}
        <!-- If this template is called through 'My Recipes' email search, show 'My Recipes' (category set to 'My Recipes in app.py-->
        <h2 class="m-0">
            <span id="category">{{category}}</span>
                
            <!-- Include Origin, but don't display it. It needs to be picked up by nav.js -->
            <span id="origin" class="d-none">{{origin}}</span>
            
            <!-- Were recipes found for this email address? --->
            {% if rec_count == 0 %}
                <span>- None Found</span> 
            {% else %}
            <!-- Otherwise display this message -->
                <span> - Select Recipe Details (<i class="fas fa-ellipsis-v"></i>) to Edit / Delete Recipe</span>
            {% endif %}
            
    {% else %}
        <!-- Template called on search by category and/or origin -->

        <h2 class="m-0">
            <!-- Category and Origin need to be in their own span to be picked up by nav.js -->
            <span id="category">{{category}}</span>
            <span>Recipes from</span>
            <span id="origin">{{origin}}</span>
            <!-- If no recipes were found for this category / origin, display a user message -->

            {% if rec_count == 0 %}
            <span>- None Found</span> 
            {% endif %}
            
    {% endif %} 
    {% endif %}

        </h2>
    </div>

    <!-- If searching for recipes using the user's email address (my-recipes) don't include the search by keyword box -->
    {% if rec_search_flag != "E" %}

    <!-- Search Box Dropdown - goes on same line as the banner above -->
    <!-- The keyword search searches by keyword, all countries, and all categories. -->

    <div class="col-3">
        <div class="search-box">
            <a class="btn btn-secondary dropdown-toggle search-btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Search By Keyword
      </a>
    
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                {% for word in search_words %}
                <a class="dropdown-item" href="{{ url_for('search_recipes', sel_category='All', sel_origin='All Countries', page_nr='1', sel_keyword=word.key_words) }}">{{ word.key_words }}</a> {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    
</div>



<!-- Recipe cards start here -->

{% for recipe in recipes %}


<!-- Every odd number recipe gets output as the first recipe in the row -->


{% if loop.index % 2 != 0 %}


<!-- Odd number recipes go into the start of the row -->


<div class="row no-gutters card-group card-padding">

    <!-- First Card in row -->

    <div class="col-6 card card-border">

        <!-- Card Header -->

        <div class="row no-gutters card-header font-italic">
            <div class="col-4 ">
                <!-- Use .title() (found on https://stackoverflow.com/questions/1549641/how-to-capitalize-the-first-letter-of-each-word-in-a-string-python) to capitalize the first letter of each word, where the country name is more than one word - e.g. New Zealand -->
                <span><strong>From: {{ recipe.origin.title() }}</strong></span>
            </div>
            <div class="col-4 text-center">
                <span><strong>{{ recipe.category.capitalize()}} Recipe</strong></span>
            </div>

            <div class="col-4">
                <a href="{{ url_for('get_recipe_details', sel_id=recipe._id, sel_category=recipe.category.capitalize(), sel_origin=recipe.origin.title(), sel_title=recipe.title.title(), search_flag=rec_search_flag) }}" class="more-icon-pl"><i class="fas fa-ellipsis-v more-icon-style"></i></a>

            </div>
        </div>


        <div class="row no-gutters p-1 card-body">
            <div class="col-6">
                <!-- Show recipe image. Using inline style as style.css didnt seem to recognize 'recipe.image' -->
                <div class="container m-0 p-0 recipe-border" style="background-image:url({{ url_for('static', filename='images/'+recipe.image)}}); width: 100%; height: 200px; alt=recipe.alt_txt; background-size: cover; background-position: center">
                </div>
            </div>

            <div class="col-6 p-3">
                <h5 class="rec-intro-title">{{recipe.title.title()}}</h5>
                <p class="card-text pl-2 pr-2">{{recipe.intro}}</p>
            </div>
        </div>


        <!-- Card footer -->

        <div class="card-footer">
            <a href="{{ url_for('get_recipes_list', sel_category=recipe.category, sel_origin=recipe.origin, page_nr='1') }}" class="card-link-style"><strong><em>See all {{ recipe.category.capitalize() }} recipes from {{ recipe.origin.title() }}</em></strong></a>
        </div>
    </div>

    {% else %}

    <!-- Even number recipes go into the second half of the row -->


    <!-- Second Card in row -->

    <div class="col-6 card card-border">

        <!-- Card Header -->

        <div class="row no-gutters card-header font-italic">
            <div class="col-4 ">
                <span><strong>From: {{ recipe.origin.title() }}</strong></span>
            </div>
            <div class="col-4 text-center">
                <span><strong>{{ recipe.category.capitalize()}} Recipe</strong></span>
            </div>

            <div class="col-4">
                <a href="{{ url_for('get_recipe_details', sel_id=recipe._id, sel_category=recipe.category.capitalize(), sel_origin=recipe.origin.title(), sel_title=recipe.title.title(), search_flag=rec_search_flag) }}" class="more-icon-pl"><i class="fas fa-ellipsis-v more-icon-style"></i></a>
            </div>
        </div>

        <div class="row no-gutters p-1 card-body">
            <div class="col-6">
                <!-- Show recipe image. Using inline style as style.css didnt seem to recognize 'recipe.image' -->
                <div class="container m-0 p-0 recipe-border" style="background-image:url({{ url_for('static', filename='images/'+recipe.image)}}); width: 100%; height: 200px; alt=recipe.alt_txt; background-size: cover; background-position: center">
                </div>
            </div>

            <div class="col-6 p-3">
                <h5 class="rec-intro-title">{{recipe.title.title()}}</h5>
                <p class="card-text pl-2 pr-2">{{recipe.intro}}</p>
            </div>
        </div>

        <!-- Card Footer -->

        <div class="card-footer">
            <a href="{{ url_for('get_recipes_list', sel_category=recipe.category, sel_origin=recipe.origin, page_nr='1') }}" class="card-link-style"><strong><em>See all {{ recipe.category.capitalize() }} recipes from {{ recipe.origin.title() }}</em></strong></a>
        </div>
    </div>

</div>
{% endif %} {% endfor %} {% if close_div_row == "y" %}
<!-- If there's an odd number of recipies, the last row wont have closed, so add a </div> if required -->
</div>
{% endif %}


<!-- Pagination Section -->

<!-- Hold rec_pages here but dont display it. It is needed by nav.js to determine 
     whether there is more than one page -->
<span id="pag_ind" class="d-none">{{ rec_pages }}</span> {% if rec_pages != [] %}

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center mt-3">
        <li id="prev" class="page-item">
            <!-- Output the page number, but dont display it. js  will use it to disable the 'prev' button-->
            <span id="pg-nr" class="d-none">{{ page_nr }}</span>

            <!-- Check if searching by keyword, or by country / category , to return to correct label -->
            {% if rec_search_flag == "K" %}
            <!-- Pagination previous - search by keyword, return to search label -->
            <a id="prev-link" class="page-link nav-pag" href="{{ url_for('search_recipes', page_nr=page_nr-1, sel_keyword=rec_keyword.lower()) }}" aria-label="Previous">
                
            {% else %}
            
            {% if rec_search_flag == "E" %}
            <!-- Pagination previous - search by keyword, return to search label -->
            <a id="prev-link" class="page-link nav-pag" href="{{ url_for('get_my_recipes_page', page_nr=page_nr-1, sel_email_addr=rec_email_addr) }}" aria-label="Previous">
      
            {% else %}
            
            <!-- Pagination previous - search by country/category, return to get label -->
            <a id="prev-link" class="page-link nav-pag" href="{{ url_for('get_recipes_list', sel_category=category, sel_origin=origin, page_nr=page_nr-1) }}" aria-label="Previous">
        
       
      {% endif %} {% endif %}
      <span aria-hidden="true">&laquo;</span></a>

            <!-- Check if searching by keyword, or by country / category , to return to correct label -->
            {% for number in rec_pages %} {% if rec_search_flag == "K" %}
            <!-- Pagination page nr - search by keyword, return to search label. Add dummy class "page_{{number}}, so as to allow nav.js to highlight
           the selected page number -->
            <li class="page-item  "><a class="page-link nav-pag page_{{number}}" href="{{ url_for('search_recipes', page_nr=number, sel_keyword=rec_keyword.lower()) }}">{{ number }}</a></li>

            {% else %} {% if rec_search_flag == "E" %}
            <!-- Pagination page nr - search by keyword, return to search label -->
            <li class="page-item  "><a class="page-link nav-pag page_{{number}}" href="{{ url_for('get_my_recipes_page', page_nr=number, sel_email_addr=rec_email_addr) }}">{{ number }}</a></li>

            {% else%}

            <!-- Pagination page nr - search by country/category, return to get label -->
            <li class="page-item  "><a class="page-link nav-pag page_{{number}}" href="{{ url_for('get_recipes_list', sel_category=category, sel_origin=origin, page_nr=number) }}">{{ number }}</a></li>

            {% endif %} {% endif %} {% endfor %}

            <li id="next" class="page-item ">
                <!-- Output the total page numbers, but dont display it. js  will use it to disable the 'next' button-->
                <span id="tot-pg" class="d-none">{{ total_pages }}</span> {% if rec_search_flag == "K" %}
                <!-- Pagination - search by keyword, return to search label -->
                <a id="next-link" class="page-link nav-pag" href="{{ url_for('search_recipes', page_nr=page_nr+1, sel_keyword=rec_keyword.lower()) }}" aria-label="Next">
                
            {% else %}
            
            {% if rec_search_flag == "E" %}
            <!-- Pagination - search by keyword, return to search label -->
            <a id="next-link" class="page-link nav-pag" href="{{ url_for('get_my_recipes_page', page_nr=page_nr+1, sel_email_addr=rec_email_addr) }}" aria-label="Next">
                
            {% else%}
            
            <!-- Pagination next - search by country/category, return to get label -->
            <a id="next-link" class="page-link nav-pag" href="{{ url_for('get_recipes_list', sel_category=category, sel_origin=origin, page_nr=page_nr+1) }}" aria-label="Next">
                
            {% endif %} {% endif %}
                
        <span aria-hidden="true">&raquo;</span>
      </a>
            </li>
    </ul>
</nav>

{% endif %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- <script href="{{ url_for('static', filename='js/nav.js' ) }}"></script> - not working -->

<script src="/static/js/nav.js "></script>

{% endblock %}
